<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog"
             type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <system.web>
    <trace enabled="true"
           localOnly="true"/>
    <compilation debug="true"
                 targetFramework="4.0"/>
    <httpHandlers>
      <add path="*"
           verb="*"
           type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack"/>
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*"
           verb="*"
           name="ServiceStack.Factory"
           type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack"
           preCondition="integratedMode"
           resourceType="Unspecified"
           allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  <nlog throwExceptions="true"
        autoReload="true">
    <targets>
      <target name="DebugLog"
              type="Debugger"
              layout="${longdate} [${level}] (${logger}): ${message}"/>
      <target name="ErrorLog"
              type="Debugger"
              layout="${longdate} [${level}] (${logger}): ${message}${newline}${exception:format=tostring}"/>
    </targets>
    <rules>
      <logger name="*"
              maxlevel="Warn"
              writeTo="DebugLog"/>
      <logger name="*"
              minlevel="Error"
              writeTo="ErrorLog"/>
    </rules>
  </nlog>
</configuration>